[Desktop Entry]
Version=1.1
Type=Application
Name=Shipwright
Terminal=true
GenericName=Shipwright
Comment=Shipwright engine for The Legend of Zelda: Ocarina of Time
Icon=soh
Exec=sh -c 'gamemoderun soh >/dev/null'
Categories=Game;
